/* .container{
    width: 300px;
    padding: 10px;
    background-color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;


} */

/* .formulario{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
} */

